section.banner
    .container
        .banner__list
            .banner__left
                a.banner__link(href="#")
                    img.banner__img(src="https://source.unsplash.com/555x420/?furniture" alt="")
                    .banner-info
                        h3 guest room 
                        h2 sofa 
                        span -20%
            .banner__right  
                a.banner-list__item(href="#")
                    img.banner-list__img(src="https://source.unsplash.com/555x195/?furniture" alt="")

                a.banner-list__item(href="#")
                    img.banner-list__img(src="https://source.unsplash.com/555x195/?furniture" alt="")
