section.slider-brand
    .container
        ul.slider-brand__list.js-slider-brand
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
            li.slider-brand__item
                a.slider-brand__link(href="#")
                    img.slider-brand__img(src="https://source.unsplash.com/140x90/?furniture" alt="")
