//- section.info
    .container
        ul.info-menu
            li.info-menu__title Free Shipping 
                ul.info-menu__list
                    li.info-menu__item
                        a.info-menu__link(href="#") all order
                        i.fas.fa-truck
     



