section.info
    .container
        ul.info-menu
            li.info-menu__item
                span.info-menu__icon
                    span.info-menu__icon-inner
                        i.fas.fa-truck
                .info-menu__title Free Shipping
                .info-menu__sub-title all order
                
            li.info-menu__item
                span.info-menu__icon
                    span.info-menu__icon-inner
                        i.fas.fa-truck
                .info-menu__title Free Shipping
                .info-menu__sub-title all order

            li.info-menu__item
                span.info-menu__icon
                    span.info-menu__icon-inner
                        i.fas.fa-truck
                .info-menu__title Free Shipping
                .info-menu__sub-title all order

            li.info-menu__item
                span.info-menu__icon
                    span.info-menu__icon-inner
                        i.fas.fa-truck
                .info-menu__title Free Shipping
                .info-menu__sub-title all order
     



