.slider
    .container
        ul.slider__list.js-slider-header
            li.slider__item
                img.slider__img(src="img/" alt="")
                .slider__info
                    .slider__text indoor furniture save up to 50% of all furniture
                    a.button.slider__link(href="#") shop now
            li.slider__item
                img.slider__img(src="img/" alt="")