.slider
    ul.slider__list.js-slider
        li.slider__item
            img.slider__img(src="img/catalog-img1.png" alt="")
            .slider__info
                .slider__title indoor furniture
                .slider__text  save up to 50% of all furniture
                a.button.slider__link(href="#") shop now
        li.slider__item
            img.slider__img(src="img/" alt="")