.slider {
  .col-item(8);
  height: 505px;

  &__item {
    list-style-type: none;
    display: inline-block;
    position: relative;

    & img {
      width: 100%;
    }
  }

  &__info {
    position: absolute;
    background-color: ~"rgba(0, 0, 0, .5)";
    width: 100%;
    height: 214px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 75px 110px 40px 110px;
  }

  &__title {
    font-size: 46px;
    font-family: "poppins-regular";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  &__text {
    font-size: 24px;
    font-family: "poppins-light";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -27px;
    margin: auto;
    font-size: 14px;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    font-family: "poppins-semibold";
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 136px;
    height: 54px;
    text-decoration: none;
    padding: 20px;
    text-align: center;

    &:hover {
      background-color: rgb(213, 142, 50);
    }
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 40px;
    background-color: rgb(42, 42, 42);
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-color: rgb(213, 142, 50);
    }

    & i {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      margin: auto;
      width: 5px;
      height: 16px;
      color: #fff;
    }
  }

  &__arrow-left {
    left: 0;
  }

  &__arrow-right {
    right: 0;
  }
}
