section.catalog-main
    .container
            h2.catalog-main__h2 new furniture
        .catalog-main__line
            .catalog-main-circle__list
                span.catalog-main__circle 
                span.catalog-main__circle 
                span.catalog-main__circle 