section.catalog-main
    .container
        .section-line
            .section-line__inner
                h2.section-line__title  new furniture
                ul.tabs
                    li.tabs__item
                        a.tabs__link(href="#") Bed
                    li.tabs__item
                        a.tabs__link(href="#") Chair
                    li.tabs__item
                        a.tabs__link(href="#") Sofa
                    li.tabs__item
                        a.tabs__link(href="#") Table
                    li.tabs__item
                        a.tabs__link(href="#") Dining
            .section-line__hr
                .circle-list
                    span.circle-item 
                    span.circle-item 
                    span.circle-item 
        include ../card-list/index



