section.information2
    .container 
        ul.information2-menu
            li.information2__item
                span.information2__icon
                    span.information2__inner
                        i.fas.fa-truck
                .information2__title nkvlnklvnn
                .information2__sub-title gmkfldbkdnnk 
            li.information2__item
                span.information2__icon
                    span.information2__inner
                        i.fas.fa-truck
                .information2__title nkvlnklvnn
                .information2__sub-title gmkfldbkdnnk
            li.information2__item
                span.information2__icon
                    span.information2__inner
                        i.fas.fa-truck
                .information2__title nkvlnklvnn
                .information2__sub-title gmkfldbkdnnk 
            li.information2__item
                span.information2__icon
                    span.information2__inner
                        i.fas.fa-truck
                .information2__title nkvlnklvnn
                .information2__sub-title gmkfldbkdnnk      