extends _layouts/grid	
block content
    .container
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
        .col-item.col-template
