extends _layouts/home	
block content
    section.hotdeals-slider
        .container
            include _partials/hot-deals/index
            include _partials/slider/index

    include _partials/information/index
    //include _partials/information2/index
    include _partials/banner/index
    include _partials/catalog-main/index
    include _partials/gallery/index
    include _partials/blog/index
    include _partials/client-feedback/index
