extends _layouts/home	
block content
	.container
		ul
			li:a(href="home.html") Главная
			li:a(href="catalog.html") Каталог
			li:a(href="second.html") Каталог уровень 2
			li:a(href="card-product.html") Карточка товара
			li:a(href="basket.html") Корзина
			li:a(href="checkout.html") Оформление заказа
			li:a(href="personal_area.html") Личный кабинет
			li:a(href="order_list.html") Состав заказа
			li:a(href="news.html") Новости
			li:a(href="news_page.html") Страница новости
			li:a(href="contacts.html") Контакты