section.client-feedback
    .container
        .section-line
            .section-line__inner
                h2.section-line__title  client feedback
            .section-line__hr
                .circle-list
                    span.circle-item 
                    span.circle-item 
                    span.circle-item
        .feedback
            .feedback__center 
                .feedback__quotes
                    i.fas.fa-quote-right
            .feedback__text Consetetur sadipscing elitr, sed diam nonumy eirmod tempor inviConsetetur sadipscing elitr, sed diam nonumy eirmod tempor invi
            img.feedback__img(src="https://source.unsplash.com/58x50/?furniture" alt="")
            .feeback__right
                .feedback__title John Smith
                .feedback__type Furniture client