section.client-feedback
    .container
        .section-line
            .section-line__inner
                h2.section-line__title  client feedback
            .section-line__hr
                .circle-list
                    span.circle-item 
                    span.circle-item 
                    span.circle-item
        .feedback
            .feedback__item 
                .feedback__quotes
                    i.fas.fa-quote-right
                .feedback__text Consetetur sadipscing elitr, sed diam nonumy eirmod tempor inviConsetetur sadipscing elitr, sed diam nonumy eirmod tempor invi nsetetur sadipscing elitr, sed diam nonumy eirmod tempor invi
                .feedback__author
                    img.feedback__img(src="https://source.unsplash.com/58x50/?furniture" alt="")
                    .feedback__right
                        .feedback__author-name John Smith
                        .feedback__author-type Furniture client