section.blog
    .container
        h2.blog__h2 latest blog
        .blog-line
            .blog-circle-list
            span.blog__circle 
            span.blog__circle 
            span.blog__circle 
        .blog__list
            a.blog__item(href="#")
                .blog__inner
                    img.blog__img(src="img/.jpg" alt="")



