section.blog
    .container
        .section-line
            .section-line__inner
                h2.section-line__title  latest blog
            .section-line__hr
                .circle-list
                    span.circle-item 
                    span.circle-item 
                    span.circle-item
        .card-blog-list             
            .card-blog
                .card-blog__top
                    img.card-blog__img(src="https://source.unsplash.com/360x290/?furniture" alt="")
                    .card-blog__top-wrap   
                        .card-blog__top-inner
                            span.card-blog__date 15 jan 2016 
                            span.card-blog__comments 4 Comments    
                .card-inner__bottom    
                    .card-blog__description
                        h2.card-blog__title  Products That Fight Static
                        p.card-blog__text Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        a.button.card-blog__link(href="#") Read More
            .card-blog
                .card-blog__top
                    img.card-blog__img(src="https://source.unsplash.com/360x290/?furniture" alt="")
                    .card-blog__top-wrap   
                        .card-blog__top-inner
                            span.card-blog__date 15 jan 2016 
                            span.card-blog__comments 4 Comments    
                .card-inner__bottom    
                    .card-blog__description
                        h2.card-blog__title  Products That Fight Static
                        p.card-blog__text Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        a.button.card-blog__link(href="#") Read More
            .card-blog
                .card-blog__top
                    img.card-blog__img(src="https://source.unsplash.com/360x290/?furniture" alt="")
                    .card-blog__top-wrap   
                        .card-blog__top-inner
                            span.card-blog__date 15 jan 2016 
                            span.card-blog__comments 4 Comments    
                .card-inner__bottom    
                    .card-blog__description
                        h2.card-blog__title  Products That Fight Static
                        p.card-blog__text Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget
                        a.button.card-blog__link(href="#") Read More
                        
