footer.footer
    .top-menu
        .container
            .auth
                a.auth__login Вход
            .price
                a.price__list Прайс-лист
    .header-center
        .container
            .burger
                i.fas fa-bars
            a.logo(href="/")
                img.logo__img(src="/img/Component.png" alt="logo")
            .header-center-text Отправляем по всей России любой транспортной компанией
            .header-center__contact
                a.tel-feedback(href="tel:+73852779483")
                span.tel-feedback__number