footer.footer
    .container
        .footer-top
            ul.lower-menu
                li.lower-menu__title INFORMATION
                    ul.lower-menu__list
                        li.lower-menu__item
                            a.lower-menu__link(href="#") About us
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Privacy 
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Conditions
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Online support

                li.lower-menu__title MY ACCOUNT
                    ul.lower-menu__list
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Login
                        li.lower-menu__item
                            a.lower-menu__link(href="#") My Cart
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Wishlist
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Checkout

                li.lower-menu__title INFORMATION
                    ul.lower-menu__list
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Specials
                        li.lower-menu__item
                            a.lower-menu__link(href="#") New Products
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Best Sellers
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Our Stores

                li.lower-menu__title ORDERS
                    ul.lower-menu__list
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Payment options
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Shipping and delivery
                        li.lower-menu__item
                            a.lower-menu__link(href="#") Returns Shipping
    .footer-copyright
        .container
            .footer-copyright__left
            .footer-copyright__center
                .copyright ©Copyright 2016 Bazar | All Rights Reserved
            .footer-copyright__right
                ul.footer-social
                    li.social__item
                        a.social__link
                            img.social__img(src="img/google+.png" alt="google")
                    li.social__item
                        a.social__link(href="#")
                            img.social__img(src="img/google+.png" alt="google") 
                    li.social__item
                        a.social__link(href="#") 
                            img.social__img(src="img/google+.png" alt="google") 
                    li.social__item
                        a.social__link(href="#") 
                            img.social__img(src="img/google+.png" alt="google") 
                    li.social__item
                        a.social__link(href="#") 
                            img.social__img(src="img/google+.png" alt="google") 
                    li.social__item
                        a.social__link(href="#") 
                            img.social__img(src="img/google+.png" alt="google") 
