footer.footer
    .container
        .footer-top
            ul.lower-menu
                li.lower-menu__item INFORMATION
                    ul.
                    a.lower-menu__link(href="#") About us
                li.lower-menu__item
                    a.lower-menu__link(href="#") Privacy 
                li.lower-menu__item
                    a.lower-menu__link(href="#") Conditions
                li.lower-menu__item
                    a.lower-menu__link(href="#") Online support

                li.lower-menu__itemMY ACCOUNT
                    a.lower-menu__link(href="#") Login
                li.lower-menu__item
                    a.lower-menu__link(href="#") My Cart
                li.lower-menu__item
                    a.lower-menu__link(href="#") Wishlist
                li.lower-menu__item
                    a.lower-menu__link(href="#") Checkout

                li.lower-menu__item INFORMATION
                    a.lower-menu__link(href="#") Specials
                li.lower-menu__item
                    a.lower-menu__link(href="#") New Products
                li.lower-menu__item
                    a.lower-menu__link(href="#") Best Sellers
                li.lower-menu__item
                    a.lower-menu__link(href="#") Our Stores

                li.lower-menu__item ORDERS
                    a.lower-menu__link(href="#") Payment options
                li.lower-menu__item
                    a.lower-menu__link(href="#") Shipping and delivery
                li.lower-menu__item
                    a.lower-menu__link(href="#") Returns Shipping
    .footer-copyright
        .container
            .copyright
                span.copyright__title ©Copyright 2016 Bazar | All Rights Reserved

                 .footer-social
                    ul.social
                        li.social__item
                            a.social__link
                                img.social__img(src="img/google+.png" alt="google")
                        li.social__item
                            a.social__link(href="#")
                                img.social__img(src="img/google+.png" alt="google") 
                        li.social__item
                            a.social__link(href="#") 
                                img.social__img(src="img/google+.png" alt="google") 
                        li.social__item
                            a.social__link(href="#") 
                                img.social__img(src="img/google+.png" alt="google") 
                        li.social__item
                            a.social__link(href="#") 
                                img.social__img(src="img/google+.png" alt="google") 
                        li.social__item
                            a.social__link(href="#") 
                                img.social__img(src="img/google+.png" alt="google") 
