header.header
    .top-menu
         .container
            .top-menu__left
                select.currency
                    option(value="USD") USD
                    option(value="EUR") EUR 
                    option(value="GBP") GBP
                select.lang
                    option(value="English") English
                    option(value="Deutsch") Deutsch 
                    option(value="French") French
                select.help
                    option(value="Help") Help
                    option(value="") 
                    option(value="")
            .top-menu__right
                a.auth(href="#") Login
                a.registration(href="#") Register
                .burger
    .header-center
        .container
            .header-center__contact
                a.tel-feedback(href="tel:23003560222")
                    i.fas.fa-mobile-alt
                    span.tel-feedback__number
                        |2300&nbsp;-&nbsp;3560&nbsp;-&nbsp;222
            .header-center__logo
                a.logo(href="/") 
                    img.logo__img(src="/img/logo.png" alt="logo")
            .header-center__basket
                a.basket(href="#")
                    i.basket__icon.fas.fa-shopping-basket
                    .basket__count 150
    .service-menu
        .container
            .service-menu__left
                select.menu-select
                    option(selected="Select a category") Select a category
                .service-menu__search
                    form.form-search(action="" method="") 
                        input.form-search__input(name="q" type="search" placeholder="Search products...")
                        button.form-search__button
                            i.fas.fa-search
            .service-menu__right
                ul.service-menu__list
                    li.service-menu__item
                        a.service-menu__link(href="#") home 
                    li.service-menu__item
                        a.service-menu__link(href="#") furniture
                    li.service-menu__item
                        a.service-menu__link(href="#") chair 
                    li.service-menu__item
                        a.service-menu__link(href="#") table 
                    li.service-menu__item
                        a.service-menu__link(href="#") sofa  
