.header {
  background-color: @eclipse;
}

.top-menu {
  background-color: @charcoal;

  & .container {
    .clearfix();
    display: flex;
    align-items: center;
    padding: 15px 0;
  }

  &__left {
    .col-item(6);
  }

  &__right {
    .col-item(6);
    display: flex;
    justify-content: flex-end;
  }
}

.currency {
  position: relative;
  font-family: "poppins-medium";
  font-size: 16px;
  color: @white;
  background-color: @charcoal;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    height: 21px;
    width: 1px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
  }
}

.lang {
  position: relative;
  font-family: "poppins-medium";
  font-size: 16px;
  color: @white;
  background-color: @charcoal;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    height: 21px;
    width: 1px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
  }
}

.help {
  position: relative;
  font-family: "poppins-medium";
  font-size: 16px;
  color: @white;
  background-color: @charcoal;
  cursor: pointer;
}

.auth {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  font-family: "poppins-medium";
  color: @white;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
  }
}

.registration {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  font-family: "poppins-medium";
  color: @white;
  text-decoration: none;
  margin-left: 40px;

  &::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    background-image: url(../img/register.png);
    background-repeat: no-repeat;
  }
}

.header-center {
  & .container {
    .clearfix();
    padding: 30px 0;
    display: flex;
    align-items: center;
  }

  &__contact {
    .col-item(4);
    display: flex;
    align-items: center;
  }

  &__logo {
    .col-item(4);
    text-align: center;
  }

  &__basket {
    .col-item(4);
    text-align: right;
  }
}

.basket {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
  width: 51px;
  height: 49px;
  background-color: @fuel-yellow;
  border-radius: 3px;

  &:hover {
    background-color: @rusty-nail;
  }

  &__icon {
    color: @white;
    font-size: 20px;
  }

  &__count {
    position: absolute;
    border-radius: 50%;
    background-color: @eclipse;
    width: 28px;
    height: 28px;
    font-size: 14px;
    font-family: "poppins-medium";
    right: -20px;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 28px;
    text-align: center;
    color: @hawkes-blue;
    z-index: 3;
  }
}

.tel-feedback {
  font-size: 17px;
  text-decoration: none;
  color: @gainsboro;
  font-family: "poppins-semibold";

  & i {
    padding-right: 15px;
    font-size: 22px;
    color: @fuel-yellow;
  }
}

.logo {
  display: inline-block;
  max-width: 170px;

  &__img {
    width: 100%;
  }
}

.service-menu {
  height: 85px;
  background-color: @white;
  box-shadow: 0px 4px 6px 0px rgba(1, 2, 2, 0.2);

  & .container {
    .clearfix();
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__left {
    .col-item(6);
    font-size: 0;
  }

  &__right {
    .col-item(6);
    text-align: right;
    height: 100%;
  }

  &__list {
    height: 100%;
  }

  &__item {
    display: inline-block;
    list-style-type: none;
    height: 100%;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "poppins-semibold";
    display: inline-block;
    height: 100%;
    line-height: 85px;
    padding: 0 20px;
    color: @nero;
    border-top: 2px solid transparent;

    &:hover {
      border-top: 2px solid @eclipse;
      background-color: @fuel-yellow;
      color: @white;
    }
  }

  &__search {
    display: inline-block;
  }
}

.menu-select {
  display: inline-block;
  vertical-align: top;
  width: 213px;
  height: 45px;
  font-size: 14px;
  color: @nero;
  font-family: "poppins-regular";
  border: 1px solid @nero;
}

.form-search {
  border: 1px solid @nero;
  border-left: 0;
  width: 213px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    border: none;
    height: 40px;
    font-family: "poppins-regular";
    font-size: 14px;
    color: @dark-gray;
    padding-left: 5px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    margin-right: 15px;
    font-size: 16px;
  }
}
