.hot-deals
    //img.hot-deals__img(src="/img/catalog-img1.png" alt="")
        .hot-deals__title hot deals
        .hot-deals-circle-list
            span.hot-deals__circle 
            span.hot-deals__circle 
            span.hot-deals__circle 
    //- a.button.hot-deals__link(href="#") 
        i.hot-deals__icon.fas.fa-shopping-basket add to cart 
    //- .hot-deals-time-list
        span.hot-deals__time 25 days
        span.hot-deals__time 10 hrs
        span.hot-deals__time 45 mins
        span.hot-deals__time 30 secs
    //- .hot-deals__description
        h3.hot-deals__h3  Aenean Ru Bristique
        .hot-deals-star-rating
            i.fas.fa-star
    //- .hot-deals__right
        span.hot-deals-price__old $350.00
        span.hot-deals-new__price $300.00
    //- .hot-deals__left
        span.hot-deals__symbol
        i.fas.fa-eye
        span.hot-deals__symbol
        i.far.fa-heart
        span.hot-deals__symbol
        i.fas.fa-exchange-alt

