.hot-deals
    .hot-deals__title hot deals
        .hot-deals-circle-list
            span.hot-deals__circle 
            span.hot-deals__circle 
            span.hot-deals__circle 
    .hot-deals__img
        img(src="https://source.unsplash.com/360x285/?furniture" alt="")
        a.button.hot-deals__link(href="#") 
            i.hot-deals__icon.fas.fa-shopping-basket 
            span add to cart 
        .hot-deals-time-list
            span.hot-deals__time 25 days
            span.hot-deals__time 10 hrs
            span.hot-deals__time 45 mins
            span.hot-deals__time 30 secs
    .hot-deals__description
        h3.hot-deals__h3  Aenean Ru Bristique
        .hot-deals__star-rating
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            i.far.fa-star
        .hot-deals__line 
        .hot-deals__inner
            .hot-deals__left
                a.hot-deals__symbol(href="#")
                    i.fas.fa-eye
                a.hot-deals__symbol(href="#")
                    i.far.fa-heart
                a.hot-deals__symbol(href="#")
                    i.fas.fa-exchange-alt
            .hot-deals__right
                span.hot-deals-price__old $350.00
                span.hot-deals-new__price $300.00
        

