section.gallery 
    .container
        .gallery-left
            h2.gallery__title  furniture gallery
            .gallery__hr
            ul.tabs-gallery
                li.tabs-gallery__item
                    a.tabs-gallery__link(data-tab="featured" href="#") featured
                li.tabs-gallery__item
                    a.tabs-gallery__link(data-tab="top-seller" href="#") top seller
                li.tabs-gallery__item
                    a.tabs-gallery__link(data-tab="sale-off" href="#") sale off
                li.tabs-gallery__item
                    a.tabs-gallery__link(data-tab="top-rated" href="#") top rated
            .tabs-container(data-tab="featured")
                .gallery__item
                    img.gallery__img(src="https://source.unsplash.com/553x452/?furniture" alt="") 
                    .gallery__description
                        .gallery-value
                            span.gallery__price $120.00
                            span.gallery-price__old $160.00
                            h3.gallery__h3  Aenean Ru Bristique
                            .gallery__star-rating
                                i.fas.fa-star
                                i.fas.fa-star
                                i.far.fa-star
                                i.far.fa-star
                                i.far.fa-star 
                        .gallery__inner-left
                            a.gallery__symbol(href="#")
                                i.far.fa-heart
                            a.gallery__symbol(href="#")
                                i.fas.fa-exchange-alt 
                            a.gallery__symbol(href="#")
                                i.fas.fa-eye                
        .gallery-right
                img.gallery__img(src="https://source.unsplash.com/556x603/?furniture" alt="")
                    .gallery-info 
                    .gallery-text FROM
                    span.gallery-price $50.80
                    h2 Bedroom Bed
                    a.button.gallery__link(href="#") shop now




