.gallery {
  .clearfix();

  &-left {
    .col-item(6);
    border: 1px solid @gainsboro;
  }

  &__title {
    font-size: 20px;
    color: @fuel-yellow;
    font-family: "poppins-semibold";
    text-transform: uppercase;
  }

  &__hr {
    position: relative;
    background-color: @gainsboro;
    height: 3px;
    width: 100%;
    margin-top: 10px;

    &::before {
      content: "";
      position: absolute;
      background-color: @fuel-yellow;
      width: 30px;
      height: 4px;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      margin: auto;
    }
  }

  &__description {
    position: absolute;
    background-color: @white;
    box-shadow: 0px 3px 6px 0px rgba(1, 2, 2, 0.24);
    padding: 35px;
    width: 249px;
    min-height: 106px;
    top: auto;
    bottom: 45px;
    left: auto;
    right: 2px;
    margin: auto;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      margin: auto;
      border: 20px solid transparent;
    }

    &::before {
      border-left: 20px solid @nero;
      border-top: 20px solid @nero;
      top: 0;
      left: 0;
    }

    &::after {
      border-right: 20px solid @nero;
      border-bottom: 20px solid @nero;
      right: 0;
      bottom: 0;
    }
  }

  &__h3 {
    font-size: 16px;
    font-family: "poppins-semibold";
    color: @nero;
    text-align: center;
  }

  &__item {
    position: relative;
    border: 1px solid @gainsboro;
    border-top: 0;
  }

  &__star-rating {
    margin-top: 20px;
    text-align: center;
  }

  &__value {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: @nero;
    opacity: 0.6;
    width: 105px;
    height: 105px;
    padding: 30px 15px;
    top: -90px;
    bottom: auto;
    right: 0;
    left: 0;
    margin: auto;
  }

  &__price-old {
    font-size: 16px;
    color: @white;
    text-align: center;
    text-decoration: line-through;
  }

  &__price {
    font-size: 20px;
    color: @white;
    font-family: "poppins-semibold";
    text-transform: uppercase;
  }

  &-right {
    .col-item(6);
    position: relative;
  }

  &-text {
    font-size: 18px;
    font-family: "poppins-semibold";
    color: @nero;
    text-transform: uppercase;
    margin-right: 5px;
  }

  &__inner-left {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 7px;
    margin: auto;
    height: 170px;
    width: 35px;
  }

  &__symbol {
    position: relative;
    border: 1px solid @nero;
    width: 35px;
    height: 35px;
    padding: 10px;
    margin-bottom: 7px;
    color: @nero;
    background-color: @white;

    &:hover {
      border: 1px solid @fuel-yellow;
      color: @fuel-yellow;
    }
  }

  &__symbol:hover &-hint {
    display: block;
  }

  &-hint {
    display: none;
    background-color: @nero;
    padding: 9px;
    font-family: "poppins-regular";
    color: @white;
    font-size: 12px;
    text-align: center;
    width: 90px;
    height: 26px;
    position: absolute;
    z-index: 1;
    right: 10px;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__link {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: "poppins-semibold";
    color: @white;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: @lima;
    text-decoration: none;
    padding: 15px 25px;
    margin-top: 25px;
  }

  &__h2 {
    font-size: 48px;
    font-family: "poppins-semibold";
    color: @fuel-yellow;
  }

  &__banner-price {
    font-size: 45px;
    color: @lima;
    font-family: "poppins-semibold";
    text-transform: uppercase;
  }

  &__banner-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 60px;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}

.tabs-gallery {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 30px;
  border: 1px solid @gainsboro;

  &__item {
    padding: 15px 24px;
    border-right: 1px solid @gainsboro;

    &:last-child {
      border-right: none;
    }

    &.active {
      margin-top: -1px;
      border-top: 3px solid @fuel-yellow;
      border-bottom: 2px solid @white;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    font-family: "poppins-semibold";
    color: @nero;
    text-transform: uppercase;
  }
}

.slider-gallery {
  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__item {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    background-color: @nero;
    width: 33px;
    height: 70px;
    z-index: 1;
    cursor: pointer;

    & i {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      margin: auto;
      width: 6px;
      height: 11px;
      color: @white;

      &:hover {
        color: @fuel-yellow;
      }
    }
  }

  &__arrow-left {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__arrow-right {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
